absl-py==0.15.0
appdirs==1.4.4
asgiref==3.3.1
astroid==2.5.1
Authlib==0.15.5
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.4
cryptography==35.0.0
cycler==0.10.0
decorator==4.4.2
Deprecated==1.2.13
dimod==0.10.7
diskcache==5.2.1
distlib==0.3.1
Django==3.1.7
dwave-cloud-client==0.9.2
dwave-greedy==0.2.1
dwave-hybrid==0.6.4
dwave-inspector==0.2.7
dwave-neal==0.5.8
dwave-networkx==0.8.10
dwave-ocean-sdk==4.2.0
dwave-preprocessing==0.3.1.post0
dwave-qbsolv==0.3.3
dwave-system==1.10.0
dwave-tabu==0.4.2
dwavebinarycsp==0.1.3
fasteners==0.16.3
filelock==3.0.12
Flask==2.0.2
Flask-WTF==1.0.0
homebase==1.0.1
idna==3.3
isort==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
lazy-object-proxy==1.5.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
minorminer==0.2.6
networkx==2.6.3
numpy==1.21.2
ortools==8.2.8710
pandas==1.3.2
penaltymodel==0.16.5
penaltymodel-cache==0.4.4
penaltymodel-lp==0.1.5
penaltymodel-mip==0.2.5
Pillow==8.3.1
plotly==4.14.3
plucky==0.4.3
protobuf==3.19.1
pycparser==2.21
pydantic==1.8.2
pylint==2.7.2
pyparsing==2.4.7
pyperclip==1.8.2
pyqubo==1.0.13
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.1
requests==2.26.0
retrying==1.3.3
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==3.0.0
tk==0.1.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.4.3
virtualenvwrapper-win==1.2.6
Werkzeug==2.0.2
wrapt==1.12.1
WTForms==3.0.0
